.headRegion {
  display: flex;
  flex-direction: column;
  /* border: 5px solid black; */
  width: 95vw;
}

header {
  height: 20vh;
  /* width: 95vw; */
  border: 5px solid purple;
  display: flex;
  flex-direction: row;
}

.logo {
  /* border: 5px solid red; */
  width: auto;
  height: 15vh;
  border-radius: 5em;
  margin: 2vh;
  position: relative;
}

a {
  text-decoration: none;
  color: #000000;
}

.logoImg {
  /* border: 5px solid black; */
  transform: scale(0.5);
  height: 40.5vh;
  width: auto;
  margin: -13vh;
}

.searchBar {
  width: 50vw;
  height: 5vh;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
}

button {
  width: 15vh;
  height: 5.03vh;
  border-radius: 0.7em;
  background-color: purple;
  color: #FEFEFE;
  font-weight: bold;
}

.loginAndSignUp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logout > button {
  background-color: #db330d;
}

.fas {
  color: red;
}

.cart {
  display: flex;
  flex-direction: row;
  position: relative;
  /* border: 1px solid red; */
}
.cartNum {
  position: absolute;
  left: 50%;
  top: -25%;
}

.loginPage {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loginForm {
  width: 30vw;
  padding: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  border-radius: 2em;
  margin: 10vh auto;
  /* background: url("./images/bmw2.gif"); */
  background-size: cover;
  /* object-fit: contain; */
}

.loginForm h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.loginForm input[type="text"],
.loginForm input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 4vh auto;
  text-align: center;
  border: 2px solid #000000;
  padding: 14px 10px;
  width: 10vw;
  outline: none;
  color: white;
  font-size: 1.5em;
  border-radius: 2em;
  transition: 0.25s;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
  width: 280px;
  border-color: #315f94;
  background: rgba(0, 0, 0, 0.9);
}

.loginForm > button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #f3c94d;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.loginForm > button:hover {
  background: #2ecc71;
}

.registerForm {
  width: 40vw;
  padding: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  border-radius: 2em;
  margin: 10vh auto;
  /* background: url("./images/bmw2.gif"); */
  background-size: cover;
}

.singleErequest{
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 1px 1px 20px 3px black;
  width: 40vw !important;
  margin: 100px auto;
  padding: 20px 20px !important;

  background: black;
  color: grey;
  font-family: fantasy;
}

.singleErequest h1{
  color: white;
}

.singleErequest input{
  margin-left: 50px !important;
  /* border: 1px solid red; */
  height: 30px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  box-shadow: 1px 3px 10px 1px black;
  padding: 10px;
  font-family: monospace;
}

.singleErequest button{
  margin-top: 50px !important;
}

.erequetDesc{
  border: 1px solid blue;
  border-radius: 20px !important;
  box-shadow: 1px 3px 10px 1px black;
  padding: 10px 10px !important;
  /* color: white; */
}

.erequetDesc p{
  color: white !important;
}
