.headRegion {
  display: flex;
  flex-direction: column;
  /* border: 5px solid black; */
  width: 95vw;
}

header {
  height: 20vh;
  /* width: 95vw; */
  border: 5px solid purple;
  display: flex;
  flex-direction: row;
}

.logo {
  /* border: 5px solid red; */
  width: auto;
  height: 15vh;
  border-radius: 5em;
  margin: 2vh;
  position: relative;
}

a {
  text-decoration: none;
  color: #000000;
}

.logoImg {
  /* border: 5px solid black; */
  transform: scale(0.5);
  height: 40.5vh;
  width: auto;
  margin: -13vh;
}

.searchBar {
  width: 50vw;
  height: 5vh;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
}

button {
  width: 15vh;
  height: 5.03vh;
  border-radius: 0.7em;
  background-color: purple;
  color: #FEFEFE;
  font-weight: bold;
}

.loginAndSignUp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logout > button {
  background-color: #db330d;
}

.fas {
  color: red;
}

.cart {
  display: flex;
  flex-direction: row;
  position: relative;
  /* border: 1px solid red; */
}
.cartNum {
  position: absolute;
  left: 50%;
  top: -25%;
}

.loginPage {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loginForm {
  width: 30vw;
  padding: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  border-radius: 2em;
  margin: 10vh auto;
  /* background: url("./images/bmw2.gif"); */
  background-size: cover;
  /* object-fit: contain; */
}

.loginForm h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.loginForm input[type="text"],
.loginForm input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 4vh auto;
  text-align: center;
  border: 2px solid #000000;
  padding: 14px 10px;
  width: 10vw;
  outline: none;
  color: white;
  font-size: 1.5em;
  border-radius: 2em;
  transition: 0.25s;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
  width: 280px;
  border-color: #315f94;
  background: rgba(0, 0, 0, 0.9);
}

.loginForm > button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #f3c94d;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.loginForm > button:hover {
  background: #2ecc71;
}

.registerForm {
  width: 40vw;
  padding: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  border-radius: 2em;
  margin: 10vh auto;
  /* background: url("./images/bmw2.gif"); */
  background-size: cover;
}

.cartAndBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7vh;
  margin-left: 7vw;
  width: 75vw;
}
.searchBar > input {
  border: 2px solid black;
  width: 50vw;
  height: 4.5vh;
  border-radius: 0.7em;
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 16vw;
  padding: 2vw 2vh;
  background-color: aliceblue;
}

.partsContainer {
  display: flex;
}
.parts {
  /* border: 3px solid red; */
  background-color: aliceblue;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.autopartCard {
  display: flex;
  flex-direction: row;
  border: 1px solid #f6f6f6;
  background-color: white;
}

.autos {
  width: 60vw;
  margin: 10vh auto;
}

.autoImg {
  height: 28vh;
  width: 18vw;
  margin: 0 auto;
  object-fit: contain;
}

.img {
  border-right: 1px solid #f6f6f6;
  width: 18vw;
  height: 26vh;
  display: flex;
}

.partdesc {
  padding: 1vw 3vw;
  height: 24.5vh;
  text-align: justify;
}

.rightSideBar {
  /* border: 2px solid red; */
  height: 40vh;
  width: 25vw;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.rightSideBarMap {
  margin-top: 10vh;
}

iframe {
  width: 43vh;
  height: 43vh;
}

@media only screen and (max-width: 375px) {
  .headRegion {
    width: 59.5vw;
  }
  header {
    height: 16vh;
    width: 96vw;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 15vh;
    height: 15vh;
    /* border: 5px solid red; */
    border-radius: 0vh;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .logoImg {
    /* border: 5px solid red; */
    transform: scale(0.35);
  }
  .searchBar {
    display: none;
  }
  button {
    width: 20vw;
  }
  .loginAndSignUp {
    display: flex;
    flex-direction: row;
    border: 5px solid red;
  }
  .fas {
    transform: scale(0.9);
  }

  .cartAndBar{
    display: flex;
    flex-direction: row;
  }
  .cart {
    /* border: 5px solid red; */
    /* margin-top: -5vh; */
    /* margin-left: -40vw; */
  }
  .loginForm {
    width: 90vw;
    background-size: contain;
  }
  .loginForm input[type="text"],
  .loginForm input[type="password"] {
    font-size: 1em;
    width: 18.5vw;
  }
  .leftSidebar {
    display: none;
  }
  .rightSideBar {
    display: none;
  }
  .parts {
    width: 99vw;
  }
  .autos {
    width: 95vw;
    /* border: 1px solid red; */
  }
  .autopartCard {
    /* border: 1px solid red; */
    border: 1px solid #f6f6f6;
  }
  .img {
    /* border: 1px solid red; */
    width: 40vw;
    height: 20vh;
    margin-top: 4vh;
    justify-content: center;
  }
  .autoImg {
    width: 30vw;
    height: 30vh;
    margin-top: -5vh;
    /* object-fit: cover; */
  }
  .partdesc {
    font-size: 0.5em;
    width: 60vw;
    /* border: 1px solid red; */
    overflow-y: scroll;
  }

  .orderButton {
    margin-left: 30vw;
    width: 25vw;
    font-size: 0.5rem;
    margin-top: -5vh;
  }
}

@media only screen and (max-width: 375px) {
  .loginAndSignUp {
    display: flex;
    justify-content: center;
    width: 60vw;
    margin-left: 5vw;
  }
  button {
    height: 5vh;
    font-size: 0.4em;
  }
}

@media only screen and (max-width: 420px) {
  .headRegion {
    /* border: 1px solid red; */
    width: 68vw;
  }
  header {
    height: 16vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
  }

  .logo {
    width: 17vh;
    height: 17vh;
    border-radius: 0vh;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .logoImg {
    /* border: 5px solid red; */
    transform: scale(0.35);
  }
  .searchBar {
    display: none;
  }
  button {
    width: 20vw;
    height: 5vh;
    font-size: 0.4em;
  }
  .loginAndSignUp {
    display: flex;
    justify-content: center;
  }
  .fas {
    transform: scale(0.9);
  }

  .profileButton {
    /* border: 1px solid red; */
    margin-top: -3vh;
    margin-left: -11.5vw;
  }
  .cart {
    /* border: 5px solid red; */
    margin-top: -5vh;
    margin-left: -40vw;
  }
  .loginForm {
    width: 90vw;
    background-size: contain;
  }
  .loginForm input[type="text"],
  .loginForm input[type="password"] {
    font-size: 1em;
    width: 18.5vw;
  }

  .leftSidebar {
    display: none;
  }
  .rightSideBar {
    display: none;
  }
  .partsContainer {
    width: 107vw;
  }
  .parts {
    width: 100vw;
    border: 1px solid red;
  }
  .autos {
    width: 95vw;
    /* border: 1px solid red; */
  }
  .autopartCard {
    /* border: 1px solid red; */
    border: 1px solid #f6f6f6;
  }
  .img {
    /* border: 1px solid red; */
    width: 40vw;
    height: 20vh;
    margin-top: 4vh;
    justify-content: center;
  }
  .autoImg {
    width: 30vw;
    height: 30vh;
    margin-top: -5vh;
    /* object-fit: cover; */
  }
  .partdesc {
    font-size: 0.5em;
    width: 60vw;
    /* border: 1px solid red; */
    overflow-y: scroll;
  }

  .orderButton {
    margin-left: 28vw;
    width: 25vw;
    font-size: 0.5rem;
    margin-top: -5vh;
  }
}

@media only screen and (max-width: 768px) {
  .headRegion {
    /* border: 5px solid red; */
    width: 59.5vw;
  }
  header {
    height: 16vh;
    width: 97.5vw;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 15vh;
    height: 15vh;
    /* border: 5px solid red; */
    border-radius: 0vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .logoImg {
    /* border: 5px solid red; */
    transform: scale(0.35);
  }
  .searchBar {
    /* display: none; */
    /* margin: -5vh;
    margin-left: -20vw;
    border: 5px solid red; */
    width: 40vw;
  }
  button {
    width: 12vw;
  }
  .loginAndSignUp {
    display: flex;
    justify-content: flex-end;
  }
  .cartAndBar{
    margin: 2vh;
    margin-left: -14vw;
    width: 60vw;
  }
  .cart {
    margin-left: 0;
  }
  .loginForm {
    width: 90vw;
    background-size: contain;
  }
  .loginForm input[type="text"],
  .loginForm input[type="password"] {
    font-size: 1em;
    width: 18.5vw;
  }
  .leftSidebar {
    display: none;
  }
  .rightSideBar {
    display: none;
  }
  .parts {
    width: 99vw;
  }
  .autos {
    width: 95vw;
    /* border: 1px solid red; */
  }
  .autopartCard {
    /* border: 1px solid red; */
    border: 1px solid #f6f6f6;
  }
  .img {
    /* border: 1px solid red; */
    width: 40vw;
    height: 20vh;
    margin-top: 4vh;
    justify-content: center;
  }
  .autoImg {
    width: 30vw;
    height: 30vh;
    margin-top: -5vh;
    /* object-fit: cover; */
  }
  .partdesc {
    font-size: 0.5em;
    width: 60vw;
    /* border: 1px solid red; */
    overflow-y: scroll;
  }

  .orderButton {
    margin-left: 30vw;
    width: 25vw;
    font-size: 0.5rem;
    margin-top: -5vh;
  }
}